/ h1 Homes#top
/ p Find me in app/views/homes/top.html.slim
= image_tag('buzzcord_img.png', size: '300x300', alt: 'buzzcord')

/ - if logged_in?
/   = link_to 'ログアウト', logout_path
/ - else
  = link_to 'Discordでログイン', 'auth/discord', method: :post
= link_to 'Discordでログイン', '/auth/discord', method: :post
