img {
  max-width: 100%;
}

.display-5 {
  line-height: 1.4;
}

.col-title {
  line-height: 1.5;
  font-weight: 700;
  color: $main-color;
}

body {
  background-color: $base-color !important;
  color: $lightgray;
}
