.rank-crown {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 50%;
  background-color: desaturate(darken($base-color, 18%), 20%);
  @include media-breakpoint-up(md) {
    width: 3.75rem;
    height: 3.75rem;
    font-size: 1.25rem;
  }
  @include media-breakpoint-down(md) {
    width: 3rem;
    height: 3rem;
    font-size: 1.125rem;
  }
  &.is-rank-1{
    background-color: $gold;
  }
  &.is-rank-2{
    background-color: $silver;
  }
  &.is-rank-3{
    background-color: $bronz;
  }
}

.rank-crown__order {
  display: flex;
  align-items: flex-end;
}

.rank-crown__number {
  font-weight: bold;
}

.rank-crown__unit {
  font-size: 0.75em;
  position: relative;
  top: -0.125em;
  margin-left: 0.125em;
}

.crown-size {
  width: 60%;
}
