.rank-links {
  margin-top: 1.5rem;
}

.rank-links__items {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.rank-links__item_discord {
  @include media-breakpoint-up(md) {
    min-width: 12rem;
  }
  @include media-breakpoint-down(md) {
    display: none;
  }
  .button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
  }
  span {
    font-size: .75rem;
  }
}

.rank-links__item_laptop {
  @include media-breakpoint-up(md) {
    min-width: 12rem;
  }
  @include media-breakpoint-down(md) {
    width: 12rem;
    margin: 0 auto;
  }
  .button-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
  }
  span {
    font-size: .75rem;
  }
}
