.rank-score {
  position: absolute;
  right: 0;
  top: 0;
  @include media-breakpoint-up(md) {
    padding: 1rem;
  }
  @include media-breakpoint-down(md) {
    padding: .5rem;
  }
}

.rank-score__inner {
  border: solid 1px $border;
  text-align: center;
  border-radius: .25rem;
  overflow: hidden;
  @include media-breakpoint-down(md) {
    min-width: 3rem;
  }
}

.rank-score__label {
  font-size: .625rem;
  border-bottom: solid 1px $border;
  background-color: $base-color;
  padding: 0 .5rem;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

.rank-score__value {
  font-size: 1rem;
  padding: .125rem .25rem;
  font-weight: 700;
}
