$main-color: #3f4678;
$accent-color: #f2576c;
$base-color: #d5ecf8;
$gray: #444444;
$lightgray: #5d5d5d;

$border: desaturate(darken($base-color, 18%), 20%);
$muted-text: desaturate(darken($base-color, 38%), 40%);

$gold: #cfbe26;
$silver: #c9caca;
$bronz: #cd985e;

$container-max-widths: (
  sm: 100%,
  md: 100%,
  lg: 960px,
  xl: 960px,
  xxl: 960px
);
