@import "~bootstrap/scss/bootstrap.scss";

body { background-color: #dee7eb; }

.bg-mythemea {
  background-color: #6873d1 !important;
}
.bg-mythemeb {
  background-color: #91d0ed !important;
}
.bg-mythemec {
  background-color: #3f4678 !important;
}
