@import "~bootstrap/scss/bootstrap.scss";

body { background-color: #c5dfea; }

.bg-mythemea {
  background-color: #f0faff !important;
}
.bg-mythemeb {
  background-color: #dee7eb !important;
}
.bg-mythemec {
  background-color: #91d0ed !important;
}
.bg-mythemed {
  background-color: #6873d1 !important;
}
.bg-mythemee {
  background-color: #3f4678 !important;
}
.btnx-mythemed {
  background: #6873d1; border: 2px solid #6873d1; 
}
.btn-mythemed {
  background-color: #6873d1 !important;
}
.text-mythemee {
  color: #3f4678 !important;
}
.border-mythemec {
  border-color: #91d0ed !important;
}
.text-red1 {
  color: #f2576c !important;
}
.btnx-new {
  background: #f5778b; border: 2px solid #f2576c; 
}
